html, body{
  padding:0px;
  margin:0px;
  background:#191A1D;
  font-family: 'Karla', sans-serif;
  width:100vw;
}
body * {
  margin:0;
  padding:0;
}

/* HTML Nav Styles */
/* HTML Nav Styles */
/* HTML Nav Styles */
nav menuitem {
  position:relative;
  display:block;
  opacity:0;
  cursor:pointer;
}

nav menuitem > menu {
  position: absolute;
  pointer-events:none;
}
nav > menu { display:flex; }

nav > menu > menuitem { pointer-events: all; opacity:1; }
menu menuitem a { white-space:nowrap; display:block; }
  
menuitem:hover > menu {
  pointer-events:initial;
}
menuitem:hover > menu > menuitem,
menu:hover > menuitem{
  opacity:1;
}
nav > menu > menuitem menuitem menu {
  transform:translateX(100%);
  top:0; right:0;
}
/* User Styles Below Not Required */
/* User Styles Below Not Required */
/* User Styles Below Not Required */

nav { 
  margin-top: 40px;
  margin-left: 40px;
}

nav a {
  background:#75F;
  color:#FFF;
  min-width:190px;
  transition: background 0.5s, color 0.5s, transform 0.5s;
  margin:0px 6px 6px 0px;
  padding:20px 40px;
  box-sizing:border-box;
  border-radius:3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  position:relative;
}

